* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
1) need help with arranging boxs for header and navigation
2) need to add a heart emoji to footer
 */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
  color: black;
}

header {
  display: grid;
  padding: 10px;
  border-bottom: 5px solid black;
  margin-bottom: 5px;
  text-align: start;
}
h1 {
  border: 2px solid purple;
  padding: 10px;
  max-width: 1fr;
}
.navigation {
  border: 2px solid yellow;
  text-align: end;
}
.headerItem {
  flex-direction: column;
}
.back-button {
  background-color: #ccc;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.back-button:hover {
  background-color: #999;
}
.container {
  display: grid;
  padding: 10px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  row-gap: 10px;
}
.item {
  font-size: 20px;
  padding: 20px;
  border: 2px solid black;
}
h3 {
  border-bottom: 3px solid black;
}
p {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}
footer {
  margin-top: 5px;
  border-top: 5px solid black;
}
h5 {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.belowFooterTitle {
  display: block;
  padding-left: 40px;
}
