
Form {
    margin: 0 auto;
    padding: 20px;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-content: center;
}
input[type="submit"]:hover {
    background-color: grey;
}